Repository wkentdag/payload-plugin-scheduler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.{json,yml}": ["prettier --write"]
}

release: v0.1.0
  package.json
Due: prettier --write

release: v0.1.1
  package.json
Due: prettier --write

fix: update InputField query to handle globals
  src/fields/PublishDate/components/InputField.tsx
Due: eslint --fix, prettier --write

fix: update InputField query to handle globals (#12)
  src/fields/PublishDate/components/InputField.tsx
Due: eslint --fix, prettier --write

release: v0.1.2
  package.json
Due: prettier --write

basic SafeRelationship field
  src/fields/SafeRelationship/index.ts
Due: eslint --fix, prettier --write

:construction: refactor
  src/fields/SafeRelationship/index.ts
Due: eslint --fix, prettier --write

cleanup
  src/fields/SafeRelationship/index.ts
Due: eslint --fix, prettier --write

:construction: wip tests
  dev/src/collections/Basics.ts
  dev/src/collections/Pages.ts
  dev/src/collections/Posts.ts
  dev/src/collections/Users.ts
  dev/src/payload.base.config.ts
  dev/test/safeRelationship.spec.ts
  src/fields/SafeRelationship/index.ts
  src/index.ts
  src/types.ts
Due: eslint --fix, prettier --write

rm collection spread
  dev/src/collections/PagesWithExtraHooks.ts
  dev/src/collections/Posts.ts
Due: eslint --fix, prettier --write

fix tests
  dev/src/collections/PagesWithExtraHooks.ts
  dev/test/safeRelationship.spec.ts
Due: eslint --fix, prettier --write

thread req through to api call; catch api errors
  src/fields/SafeRelationship/index.ts
Due: eslint --fix, prettier --write

fix type error
  src/types.ts
Due: eslint --fix, prettier --write

better error message
  src/fields/SafeRelationship/index.ts
Due: eslint --fix, prettier --write

add dev cmd; specify separate port for pg tests
  package.json
Due: prettier --write

update docs
  README.md
Due: none

feat: `SafeRelationship` field (#14)
  README.md
  dev/src/collections/Basics.ts
  dev/src/collections/Pages.ts
  dev/src/collections/Users.ts
  dev/src/payload.base.config.ts
  dev/test/safeRelationship.spec.ts
  package.json
  src/fields/SafeRelationship/index.ts
  src/index.ts
  src/types.ts
Due: eslint --fix, prettier --write

release: v0.1.3
  package.json
Due: prettier --write

fix: mongo test config
  .github/workflows/test.yml
  dev/payload-types.ts
  dev/src/payload.mongo.config.ts
  dev/test/plugin.spec.ts
  dev/test/safeRelationship.spec.ts
  dev/test/setup.ts
  dev/test/tsconfig.json
  dev/test/vitest.d.ts
  dev/tsconfig.json
  vitest.config.js
Due: eslint --fix, prettier --write

feat! use native scheduler and queue
  dev/test/plugin.spec.ts
  package.json
  pnpm-lock.yaml
  src/collections/ScheduledPosts.ts
  src/hooks/deleteSchedule.ts
  src/hooks/syncSchedule.ts
  src/init.ts
  src/lib.ts
  src/plugin.ts
  src/types.ts
Due: eslint --fix, prettier --write

feat: update ui for v3
  dev/app/(payload)/admin/importMap.js
  dev/payload-types.ts
  dev/src/payload.base.config.ts
  src/client.ts
  src/fields/PublishDate/components/AfterInput/client.tsx
  src/fields/PublishDate/components/AfterInput/server.tsx
  src/fields/PublishDate/components/Icon.tsx
  src/fields/PublishDate/components/InputField.tsx
  src/fields/PublishDate/components/ScheduledStatusMessage.tsx
  src/fields/PublishDate/index.ts
  src/lib.ts
  src/rsc.ts
Due: eslint --fix, prettier --write

feat: admin timezone support
  README.md
  dev/test/plugin-config.spec.ts
  dev/test/syncSchedule.spec.ts
  src/fields/PublishDate/index.ts
  src/hooks/syncSchedule.ts
  src/plugin.ts
Due: eslint --fix, prettier --write

feat: configurable publish date field
  dev/test/plugin-config.spec.ts
  src/fields/PublishDate/index.ts
  src/fields/SafeRelationship/index.ts
  src/hooks/boundPublishDate.ts
  src/hooks/syncSchedule.ts
  src/index.ts
  src/lib.ts
  src/plugin.ts
  src/types.ts
  src/util.ts
Due: eslint --fix, prettier --write

feat: extended config options, refactor
  README.md
  dev/test/plugin-config.spec.ts
  dev/test/syncSchedule.spec.ts
  src/config.ts
  src/fields/PublishDate/components/AfterInput/server.tsx
  src/fields/PublishDate/index.ts
  src/fields/SafeRelationship/index.ts
  src/hooks/boundPublishDate.ts
  src/hooks/deleteSchedule.ts
  src/hooks/syncSchedule.ts
  src/plugin.ts
  src/types.ts
  src/util.ts
Due: eslint --fix, prettier --write

feat: accept `publishDate` overrides during manual placement
  README.md
  dev/test/plugin-config.spec.ts
  src/config.ts
  src/fields/PublishDate/index.ts
  src/lib.ts
  src/types.ts
  src/util.ts
Due: eslint --fix, prettier --write

fix: import React into custom components
  src/fields/PublishDate/components/AfterInput/client.tsx
  src/fields/PublishDate/components/AfterInput/server.tsx
Due: eslint --fix, prettier --write

chore: trim gitignore
  .gitignore
Due: none

chore: add video examples
  README.md
  assets/field-demo.mp4
  assets/list-demo.mp4
Due: none

chore: video url
  README.md
Due: none

fix: import react into custom components (#18)
  .gitignore
  README.md
  assets/field-demo.mp4
  assets/list-demo.mp4
  src/fields/PublishDate/components/AfterInput/client.tsx
  src/fields/PublishDate/components/AfterInput/server.tsx
Due: eslint --fix, prettier --write

fix: video url in readme
  README.md
Due: none

chore: use gifs instead of videos
  README.md
  assets/field-demo.gif
  assets/field-demo.mp4
  assets/list-demo.gif
  assets/list-demo.mp4
Due: none

release: v1.0.0
  package.json
Due: prettier --write

chore: remove unused deps, `prepare` script
  .release-it.json
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

[skip ci] release: v1.0.1
  package.json
Due: prettier --write

feat: add `executionAccess` option, closes #20
  README.md
  dev/src/collections/Posts.ts
  dev/src/payload.base.config.ts
  dev/test/plugin.spec.ts
  dev/test/syncSchedule.spec.ts
  src/config.ts
  src/hooks/syncSchedule.ts
  src/index.ts
  src/types.ts
Due: eslint --fix, prettier --write

feat: add `executionAccess` option, closes #20 (#21)
  README.md
  dev/src/collections/Posts.ts
  dev/src/payload.base.config.ts
  dev/test/plugin.spec.ts
  dev/test/syncSchedule.spec.ts
  src/config.ts
  src/hooks/syncSchedule.ts
  src/index.ts
  src/types.ts
Due: eslint --fix, prettier --write
