Repository wkentdag/payload-plugin-scheduler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test: add e2e suite
  .github/workflows/test.yml
  dev/e2e.spec.ts
  dev/helpers/credentials.ts
  dev/seed.ts
  dev/src/payload.base.config.ts
  eslint.config.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: global field resolution, closes #22
  dev/global-scheduling.e2e.ts
  playwright.config.ts
  src/fields/PublishDate/components/AfterInput/server.tsx
Due: eslint --fix, prettier --write

fix: global field resolution (#23)
  .github/workflows/test.yml
  dev/global-scheduling.e2e.ts
  dev/helpers/credentials.ts
  dev/seed.ts
  dev/src/payload.base.config.ts
  eslint.config.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/fields/PublishDate/components/AfterInput/server.tsx
Due: eslint --fix, prettier --write

[skip ci] release: v1.1.0
  package.json
Due: prettier --write

chore: add plan doc
  PLAN-public-preview.md
Due: none

feat: upgrade to payload 3.90
  README.md
  dev/payload-types.ts
  dev/test/plugin.spec.ts
  dev/test/syncSchedule.spec.ts
  package.json
  pnpm-lock.yaml
  src/hooks/syncSchedule.ts
Due: eslint --fix, prettier --write

feat: upgrade to payload 3.90 (#24)
  README.md
  dev/payload-types.ts
  dev/test/plugin.spec.ts
  dev/test/syncSchedule.spec.ts
  package.json
  pnpm-lock.yaml
  src/hooks/syncSchedule.ts
Due: eslint --fix, prettier --write

[skip ci] release: v1.2.0
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.css)) or (any of: *.{json,yml})
