Repository wkentdag/payload-plugin-scheduler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add commit hooks
  package.json
  yarn.lock
Due: prettier --write

bugfix: specify test config via env var
  .github/workflows/test.yml
  dev/src/payload.mongo.config.ts
  dev/src/payload.postgres.config.ts
  dev/test/globalSetup.ts
  dev/test/globalTeardown.ts
Due: eslint --fix, prettier --write

separate into base configs
  .github/workflows/test.yml
  dev/src/payload.base.config.ts
  dev/src/payload.mongo.config.ts
  dev/src/payload.postgres.config.ts
Due: eslint --fix, prettier --write

fix tests
  dev/test/plugin.spec.ts
Due: eslint --fix, prettier --write

chore: add test:all runner for local dev
  dev/package.json
  dev/src/server.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

lint
  dev/src/collections/Pages.ts
  dev/src/collections/Posts.ts
  dev/src/collections/Users.ts
  dev/test/globalSetup.ts
  dev/test/plugin.spec.ts
  src/fields/PublishDate/components/InputField.tsx
Due: eslint --fix, prettier --write

reenable default access
  src/collections/ScheduledPosts.ts
Due: eslint --fix, prettier --write

unskip test, fix precommit hook
  dev/test/plugin.spec.ts
  package.json
Due: eslint --fix, prettier --write

feat: fix field label
  src/fields/PublishDate/index.ts
Due: eslint --fix, prettier --write

feat: update default interval from 15 to 5
  src/plugin.ts
Due: eslint --fix, prettier --write

update readme
  README.md
Due: none

fix: prerelease script
  package.json
Due: prettier --write

release: v0.0.1
  package.json
Due: prettier --write

fix: revert to npx for precommit hook
  package.json
Due: prettier --write

fix: package import caused incorrect build output
  src/util.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: tmp skip mongo tests in prerelease
  package.json
Due: prettier --write

release: v0.0.2
  package.json
Due: prettier --write

fix: remove scss
  src/fields/PublishDate/components/Cell.tsx
  src/fields/PublishDate/components/InputField.tsx
  src/fields/PublishDate/components/styles.scss
  src/fields/PublishDate/components/styles.ts
Due: eslint --fix, prettier --write

release: v0.0.3
  package.json
Due: prettier --write

node engine update
  package.json
  yarn.lock
Due: prettier --write

feat: add indexes to scheulded posts and publish_date
  dev/package.json
  src/collections/ScheduledPosts.ts
  src/fields/PublishDate/index.ts
Due: eslint --fix, prettier --write

feat: add indexes to scheulded posts and publish_date (#5)
  dev/package.json
  src/collections/ScheduledPosts.ts
  src/fields/PublishDate/index.ts
Due: eslint --fix, prettier --write

release: v0.0.4
  package.json
Due: prettier --write

fix: check if schedule changed before re-scheduling; add more debug logging
  src/hooks/syncSchedule.ts
Due: eslint --fix, prettier --write

fix: check if schedule changed before re-scheduling (#6)
  src/hooks/syncSchedule.ts
Due: eslint --fix, prettier --write

release: v0.0.5
  package.json
Due: prettier --write

chore: add test case for peer hook errors
  dev/src/collections/PagesWithExtraHooks.ts
  dev/src/payload.base.config.ts
  dev/test/plugin.spec.ts
Due: eslint --fix, prettier --write

chore: update lint config
  eslint-config/rules/style.js
Due: eslint --fix, prettier --write

chore: tweak debug logging
  src/hooks/syncSchedule.ts
  src/lib.ts
Due: eslint --fix, prettier --write

chore: test peer hook failure, tweak logging (#7)
  dev/src/collections/PagesWithExtraHooks.ts
  dev/src/payload.base.config.ts
  dev/test/plugin.spec.ts
  eslint-config/rules/style.js
  src/hooks/syncSchedule.ts
  src/lib.ts
Due: eslint --fix, prettier --write

fix: copy node engines to dev pkg
  dev/package.json
Due: prettier --write

chore: update node engines (#8)
  dev/package.json
  package.json
  yarn.lock
Due: prettier --write

fix: increase test wait time
  dev/test/plugin.spec.ts
Due: eslint --fix, prettier --write

release: v0.0.6
  package.json
Due: prettier --write

feat: schedule globals
  dev/src/globals/Home.ts
  dev/src/payload.base.config.ts
  dev/test/plugin.spec.ts
  src/collections/ScheduledPosts.ts
  src/hooks/boundPublishDate.ts
  src/hooks/syncSchedule.ts
  src/plugin.ts
  src/types.ts
Due: eslint --fix, prettier --write

fix: update `publishScheduledPost` for globals
  src/init.ts
  src/lib.ts
  src/types.ts
Due: eslint --fix, prettier --write

fix test
  dev/test/plugin.spec.ts
Due: eslint --fix, prettier --write

feat: schedule globals (#10)
  README.md
  dev/src/globals/Home.ts
  dev/src/payload.base.config.ts
  dev/test/plugin.spec.ts
  src/collections/ScheduledPosts.ts
  src/hooks/boundPublishDate.ts
  src/hooks/syncSchedule.ts
  src/init.ts
  src/lib.ts
  src/plugin.ts
  src/types.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.css)) or (any of: *.{json,yml})
